<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>name printer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd"
          crossorigin="anonymous"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="style.css"/>
</head>
<body>
        <div>
            <table>
                <tr>
                    <td><a href="/game-place?place=0" th:text="${state[0]}">-</a></td>
                    <td><a href="/game-place?place=1" th:text="${state[1]}">-</a></td>
                    <td><a href="/game-place?place=2" th:text="${state[2]}">-</a></td>
                </tr>
                <tr>
                    <td><a href="/game-place?place=3" th:text="${state[3]}">-</a></td>
                    <td><a href="/game-place?place=4" th:text="${state[4]}">-</a></td>
                    <td><a href="/game-place?place=5" th:text="${state[5]}">-</a></td>
                </tr>
                <tr>
                    <td><a href="/game-place?place=6" th:text="${state[6]}">-</a></td>
                    <td><a href="/game-place?place=7" th:text="${state[7]}">-</a></td>
                    <td><a href="/game-place?place=8" th:text="${state[8]}">-</a></td>
                </tr>
            </table>
        </div>

<!-- Latest compiled and minified Jquery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>