<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>name printer</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
    <body>
        <div>
            <!--<p th:text="${cat_fact}">hate you</p>-->
        </div>
        <div>
            <p th:text="${state}">hate you</p>
        </div>

        <table>
            <tr>
                <td><a href="/game-place?place=0" th:text="${state[0]}">-</a></td>
                <td><a href="/game-place?place=1" th:text="${state[1]}">-</a></td>
                <td><a href="/game-place?place=2" th:text="${state[2]}">-</a></td>
            </tr>
            <tr>
                <td><a href="/game-place?place=3" th:text="${state[3]}">-</a></td>
                <td><a href="/game-place?place=4" th:text="${state[4]}">-</a></td>
                <td><a href="/game-place?place=5" th:text="${state[5]}">-</a></td>
            </tr>
            <tr>
                <td><a href="/game-place?place=6" th:text="${state[6]}">-</a></td>
                <td><a href="/game-place?place=7" th:text="${state[7]}">-</a></td>
                <td><a href="/game-place?place=8" th:text="${state[8]}">-</a></td>
            </tr>
        </table>

        <!--<p>-->
            <!--<a href="/game-place?place=0" th:text="${state[0]}">-</a>-->
            <!--<a href="/game-place?place=1" th:text="${state[1]}">-</a>-->
            <!--<a href="/game-place?place=2" th:text="${state[2]}">-</a>-->
        <!--</p>-->
        <!--<p>-->
            <!--<a href="/game-place?place=3" th:text="${state[3]}">-</a>-->
            <!--<a href="/game-place?place=4" th:text="${state[4]}">-</a>-->
            <!--<a href="/game-place?place=5" th:text="${state[5]}">-</a>-->
        <!--</p>-->
        <!--<p>-->
            <!--<a href="/game-place?place=6" th:text="${state[6]}">-</a>-->
            <!--<a href="/game-place?place=7" th:text="${state[7]}">-</a>-->
            <!--<a href="/game-place?place=8" th:text="${state[8]}">-</a>-->
        <!--</p>-->

    </body>
</html>
